<div class="global-height d-flex justify-content-center align-items-center bg-dark" style=" background:
    radial-gradient(circle at bottom, rgba(255,255,255,0.08), transparent 35%),
    #212529;" >
    
  <div class="text-center" style=" transform: translateY(-40px); ">

    <div class="mb-4">
      <div class="HomeImage">
        <img src="HomeImage.svg" 
        alt="Icono Task Manager"
        >
      </div>
    </div>

    <h1 class="text-white fw-bold mb-3" style="font-size: 50px;"> 
      Task Manager
    </h1>

    <p class="mb-4" style="max-width: 400px; margin: 0 auto; color: #adb5bd; font-size: large;">
      Gestiona tus tareas de forma sencilla
    </p>

    <button class="btn btn-primary px-4" (click)="start()" style="background: linear-gradient(135deg, #1f6feb, #7c3aed);">
      Empezar
    </button>

  </div>
</div>